{% extends 'profilebase.html.twig' %}

{% block body%}
    <div class="profile">
            <div class="profile-sidebar sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                        <img src="{{ asset('img/avatar.png') }}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ app.user.username }}
                    </div>
                    <div class="profile-usertitle-job">
                        Administrateur
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <div class="profile-usermenu sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{{ path('adminHome') }}" class="nav-link">
                                <i class="fas fa-tachometer-alt"></i>
                                Tableau de bord </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('departmentsList') }}">
                                <i class="far fa-building"></i>
                                Départements </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('showFiliere') }}">
                                <i class="fas fa-map-signs"></i>
                                Filières </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('studentsList') }}">
                                <i class="fa fa-user-graduate"></i>
                                Etudiants </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('teachersList') }}">
                                <i class="fa fa-user-tie"></i>
                                Professeurs </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('modulesList') }}">
                                <i class="fas fa-book"></i>
                                Modules </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('societesList') }}">
                                <i class="fas fa-industry"></i>
                                Sociétés </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('stagesList') }}">
                                <i class="fas fa-briefcase"></i>
                                Stages </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        <div class="theContent">
            <div class="profile-content">
                {% for message in app.flashes('success')   %}
                    <div class="col-md-12 alert-message success">
                        <div class="box-icon"></div>
                        <p>{{ message }}<a href="" class="close">&times;</a>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error')   %}
                    <div class="col-md-12 alert-message error">
                        <div class="box-icon"></div>
                        <p>{{ message }}<a href="" class="close">&times;</a>
                    </div>
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}