{% extends 'layout.html.twig' %}

{% block body%}
    <div class="profile">
            <div class="profile-sidebar sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                        <img src="{{ asset('img/avatar.png') }}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Admin
                    </div>
                    <div class="profile-usertitle-job">
                        Administrateur du site
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{{ path('adminHome') }}" class="nav-link">
                                <i class="fas fa-tachometer-alt"></i>
                                Tableau de bord </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('departmentsList') }}">
                                <i class="far fa-building"></i>
                                Départements </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('studentsList') }}">
                                <i class="fas fa-map-signs"></i>
                                Filières </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('studentsList') }}">
                                <i class="fa fa-user-graduate"></i>
                                Etudiants </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('teachersList') }}">
                                <i class="fa fa-user-tie"></i>
                                Professeurs </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('studentsList') }}">
                                <i class="fas fa-book"></i>
                                Modules </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-envelope"></i>
                                Messagerie </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        <div class="theContent">
            <div class="profile-content">
                {% for message in app.flashes('success')   %}
                    <div class="row">
                        <div class="col-md-12 alert alert-success alert-dismissible fade show"><strong>Succes:</strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></div>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error')   %}
                    <div class="row">
                        <div class="col-md-12 alert alert-danger alert-dismissible fade show"><strong>Erreur:</strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></div>
                    </div>
                {% endfor %}
                {% block content %}
                Some user related content goes here...

                {% endblock %}
            </div>
        </div>
    </div>

    {# Modal pour l'édition d'un étudiant #}

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="editForm">

            </div>
        </div>
    </div>

    {# /Modal pour l'édition d'un étudiant #}


    {# Modal pour le bloquage de l'étudiant #}

    <div id="fbloquer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Bloquer L'étudiant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('disableStudent') }}" method="post" class="form-horizental">
                        <input id="id" name="idStudent" type="hidden">
                        <div class="row form-group" align="center">
                            <div class="col-md-12" align="center">
                                <div class="alert alert-danger">Voulez-vous vraiment bloquer cette étudiant?</div>
                            </div>
                        </div>
                        <div align="center">
                            <button type="submit" class="btn btn-primary">Oui</button>
                            <button type="button" class="btn btn-danger annuler" data-dismiss="modal">Non</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# Modal pour le bloquage de l'étudiant #}

    {# Modal pour le débloquage de l'étudiant #}

    <div id="debloquerStudentModale" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Débloquer L'étudiant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('enableStudent') }}" method="post" class="form-horizental">
                        <input id="id" name="idStudent" type="hidden">
                        <div class="row form-group" align="center">
                            <div class="col-md-12" align="center">
                                <div class="alert alert-danger">Voulez-vous vraiment débloquer cette Etudiant?</div>
                            </div>
                        </div>
                        <div align="center">
                            <button type="submit" class="btn btn-primary">Oui</button>
                            <button type="button" class="btn btn-danger annuler" data-dismiss="modal">Non</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {# Modal pour le débloquage de l'étudiant #}
    {# Modal pour l'édition d'un professeur #}

    <div class="modal fade" id="editTeacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="editTeacherForm">

            </div>
        </div>
    </div>

    {# /Modal pour l'édition d'un professeur #}

    {# Modal pour l'édition d'un departement #}

    <div class="modal fade" id="editDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="editDepartmentForm">

            </div>
        </div>
    </div>

    {# /Modal pour l'édition d'un departement #}
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#dataTables').on('click',".editModal",function () {
                $('#editForm').html('<div class="row" style="margin: auto"><img src="{{ asset("img/loading-blue2.gif") }}" style="{display: block;margin: auto}"></div>')
                var id = $(this).data("id");
                $.get('{{ path('renderForm')}}', { id:id },
                    function(data) {
                        $("#editForm").html(data);
                    }).fail(function() {
                    alert( "error" );
                });
                $("#editModal").modal("show");
            });
        });

        $(function () {

            $('#dataTables').on('click',".editTeacher",function () {
                $('#editTeacherForm').html('<div class="row" style="margin: auto"><img src="{{ asset("img/loading-blue2.gif") }}" style="{display: block;margin: auto}"></div>')
                var id = $(this).data("id");
                $.get('{{ path('renderTeacherForm')}}', { id:id },
                    function(data) {
                        $("#editTeacherForm").html(data);
                    }).fail(function() {
                    alert( "error" );
                });
                $("#editTeacher").modal("show");
            });
        });

        $(function () {
            $(".editDepartmentModal").click(function () {
                $('#editDepartmentForm').html('<div class="row" style="margin: auto"><img src="{{ asset("img/loading-blue2.gif") }}" style="{display: block;margin: auto}"></div>')
                var id = $(this).data("id");
                $.get('{{ path('renderDepartmentForm')}}', { id:id },
                    function(data) {
                        $("#editDepartmentForm").html(data);
                    }).fail(function(error) {
                    alert( error );
                });
                $("#editDepartmentModal").modal("show");
            });
        });

        $("#niveauSelect").change(function () {
            $.post('{{ path('load')}}', { niveau:$(this).val() },
                function(data) {
                    $("#tableBody").html(data);
                }).fail(function() {
                alert( "error" );
            });
        });

        $("#depSelect").change(function () {
            $.post('{{ path('loadTeachers')}}', { dep:$(this).val() },
                function(data) {
                    $("#tableBody").html(data);
                }).fail(function() {
                alert( "error" );
            });
        });

        /* Pour le bouton Bloquer le freelancer */

        $(".bloquerModale").click(function () {
            var id = $(this).data("id");
            $("#fbloquer").find("#id").val(id);
            $("#fbloquer").modal("show");
        });

        /* Pour le bouton Bloquer le freelancer */


        $(".dbloquerModale").click(function () {
            var id = $(this).data("id");
            $("#debloquerStudentModale").find("#id").val(id);
            $("#debloquerStudentModale").modal("show");
        });
    </script>
{% endblock %}