{% extends 'Admin/index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Listes des professeurs</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-md-4">{{ form_start(form) }} {{ form_row(form.departemrnt,{"id":"depSelect"}) }} {{ form_end(form) }}</div>
                        <div class="col-md-1 offset-md-7" style="margin-top: 20px"><a title="Ajouter un professeur" class="btn btn-primary btn-xs" href="{{ path('addTeacher') }}"><i class="fa fa-plus"></i></a></div>
                    </div>
                    <table width="100%" class="table table-hover table-striped table-bordered" id="dataTables">
                        <thead>
                        <tr class="odd gradeX">
                            <th>Somme</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Télephone</th>
                            <th>Département</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.somme }}</td>
                                <td>{{ teacher.secondName }}</td>
                                <td>{{ teacher.firstName }}</td>
                                <td>{{ teacher.email }}</td>
                                <td>{{ teacher.tel }}</td>
                                <td>{{ teacher.departement.name }}</td>
                                <td>
                                    <div style="display: inline-block;">
                                        <button title="Modifier"
                                                class="btn btn-success btn-xs editTeacher"
                                                data-toggle="modal"
                                                data-id="{{ teacher.id }}"
                                        ><i class="fa fa-edit"></i>
                                        </button>
                                        {% if teacher.enabled == 1 %}
                                            {# Bouton pour Bloquer un etudiant#}
                                            <button title="Bloquer"
                                                    class="btn btn-danger btn-xs bloquerModale"
                                                    data-id="{{ teacher.id }}"><i
                                                        class="fa fa-ban"></i>
                                            </button>
                                        {% else %}
                                            {# Bouton pour Débloquer un étudiant #}
                                            <button title="deBloquer"
                                                    class="btn btn-secondary btn-xs dbloquerModale"
                                                    data-id="{{ teacher.id }}"><i
                                                        class="fa fa-ban"></i>
                                            </button>
                                            {# Bouton Pour Débloquer un Broker #}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}