{% extends 'base.html.twig' %}

{% block body%}
        <div class="row">
            <div class="card card-register mx-auto mt-5 col-md-8">
                <div class="card-header">Register an Account</div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.firstName) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.secondName) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">

                            <div class="form-label-group">
                                {% if form.departement is defined and form.departement is not null %}
                                {{ form_row(form.departement) }}
                                {% elseif form.niveau is defined and form.niveau is not null%}
                                {{ form_row(form.niveau) }}
                                {% endif %}
                            </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-label-group">
                                            {{ form_row(form.imageFile) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.tel) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {% if form.somme is defined and form.somme is not null %}
                                            {{ form_row(form.somme) }}
                                        {% elseif form.cne is defined and form.cne is not null%}
                                            {{ form_row(form.cne) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.plainPassword.second) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block">Register</button>
                    {{ form_end(form) }}
                    <div class="text-center">
                        <a class="d-block medium" href="#">Forgot Password?</a>
                    </div>
                </div>
            </div>
{% endblock %}